.h{
    padding-top: 5px;
    padding-right: 4rem;
    padding-left: 1rem;
    background-color: rgba(0, 91, 189, 0.91);
    margin: 0;
    color: white;
}
.hh{
    padding-left: 21rem;
    color: black;
    padding-top: 5px;
}
.a1{
    padding-top: 5px;
    padding-right: 4rem;
    padding-left: 1rem;
    background-color: #1d9038;
    margin: 0;
    color: white;
}
.s{
    background-color: #0fc235;
}
.a2{
    padding-left: 23.8rem;
    color: black;
    padding-top: 5px;
}
.ha{
    padding-top: 5px;
    padding-right: 4rem;
    padding-left: 1rem;
    background-color: #1b938f;
    margin: 0;
    color: white;
}
.a3{
    padding-left: 25.4rem;
    color: black;
    padding-top: 5px;
}
.hb{
    padding-top: 5px;
    padding-right: 4rem;
    padding-left: 1rem;
    background-color: #dea30d;
    margin: 0;
    color: white;
}
.bb{
    padding-left: 19.4rem;
    color: black;
    padding-top: 5px;
}
.w{
    background-color: #ffc107;
}
.hc{
    padding-top: 5px;
    padding-right: 4rem;
    padding-left: 1rem;
    background-color: #c41212;
    margin: 0;
    color: white;
}
.d{
    background-color: #ff2727;
}
.ba{
    padding-left: 22.9rem;
    color: black;
    padding-top: 5px;
}